body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0px 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: block;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    color: #2a2a2a;
    border-radius: 10px;
    border: none;
    line-height: 27px;
    height: 40px;
}

header {
    box-shadow: 0px 3px 6px #00000029;
    padding: 29px 0px;
}

.header__icon a {
    display: block;
}

.header__navigation-wrapper {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    padding-left: 102px;
}

.header__nav-list {
    display: flex;
}

.navigation__item {
    margin-right: 70px;
}

.navigation__item:last-child {
    margin-right: 0px;
}

.navigation__item a {
    text-decoration: none;
    cursor: pointer;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.header__nav-btn {
    margin-left: auto;
    width: 161px;
    background-color: #00b3fa;
    transition: background-color 0.3s ease-out;
}

.header__nav-btn:hover {
    background-color: #0098f7;
}

.hero-section {
    background-image: url('../assets/Gradient.png');
    background-repeat: no-repeat;
    background-size: 100% 89%;
}

.hero-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-section__about {
    flex-basis: 55%;
    margin-top: 140px;
}

.hero-section__title {
    font-size: 84px;
    font-weight: 900;
    color: #2a2a2a;
    line-height: 125px;
}

.hero-section__caption {
    font-size: 24px;
    color: #2a2a2a;
    margin: 20px 0px;
    font-weight: 700;
    line-height: 35px;
}

.hero-section__btn {
    background-color: #f6e224;
    width: 279px;
    transition: background-color 0.3s ease-out;
}

.hero-section__btn:hover {
    background-color: #ee9c10;
}

.hero-logo {
    padding-top: 50px;
}