html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
    padding: 0px 20px;
    width: 90%;
}

img {
    max-width: 100%;
    height: auto;
}

.btn {
    display: block;
    font-size: 18px;
    font-family: inherit;
    font-weight: 700;
    color: #2a2a2a;
    border-radius: 10px;
    border: none;
    line-height: 27px;
    height: 40px;
    cursor: pointer;
}

/* Header section styles */

header {
    box-shadow: 0px 3px 6px #00000029;
    padding: 29px 0px;
    position: relative;
}

.header__icon a,
.footer__icon a {
    display: block;
}

.header__navigation-wrapper {
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    padding-left: 102px;
}

.header__nav-list {
    display: flex;
}

.navigation__item {
    margin-right: 70px;
}

.navigation__item:last-child {
    margin-right: 0px;
}

.navigation__item a,
.dropdown__item a {
    text-decoration: none;
    cursor: pointer;
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}

.header__nav-btn {
    margin-left: auto;
    width: 161px;
    background-color: #00b3fa;
    transition: background-color 0.3s ease-out;
}

.header__nav-btn:hover {
    background-color: #0098f7;
}

.burger-menu {
    display: none;
    margin-left: auto;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: 0.4s;
}

.lines-animation .line-first {
    transform: translate(0, 5px) rotate(-45deg);
}

.lines-animation .line-second {
    opacity: 0;
}

.lines-animation .line-third {
    transform: translate(0, -11px) rotate(45deg);
}

.burger-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0px;
    width: 100%;
    z-index: 10;
    background-color: #97DEFF;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 6px #00000029;
}

.burger-dropdown .header__nav-list {
    flex-direction: column;
    align-items: center;
}

.dropdown__item {
    margin: 25px;
}

.close-item {
    cursor: pointer;
}

.burger-dropdown.open {
    height: 450px;
}


/* Hero section styles */

.hero-section {
    background-image: url('../assets/Gradient.png');
    background-repeat: no-repeat;
    background-size: 100% 89%;
}

.hero-section__wrapper {
    display: flex;
    justify-content: space-between;
}

.hero-section__about {
    flex-basis: 55%;
    margin-top: 140px;
}

.hero-section__title {
    font-size: clamp(24px, 5vw, 84px);
    font-weight: 900;
    color: #2a2a2a;
    line-height: 125px;
}

.hero-section__caption {
    font-size: 24px;
    color: #2a2a2a;
    margin: 20px 0px;
    font-weight: 700;
    line-height: 35px;
}

.hero-section__title,
.hero-section__caption {
    position: relative;
    animation-name: showUp;
    animation-duration: 0.5s;
}

.hero-section__btn {
    display: block;
    background-color: #f6e224;
    width: 279px;
    transition: background-color 0.3s ease-out;
    position: relative;
    opacity: 0;
    animation: slideLeft 0.5s 0.3s forwards;
    cursor: pointer;
    padding: 10px 27px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #2A2A2A;
    font-weight: 700;
}

.hero-section__btn:hover {
    background-color: #ee9c10;
}

.hero-logo {
    opacity: 0;
    padding-top: 50px;
    animation: slideRight 0.5s forwards;
}

.ingredients-section,
.about-section,
.menu-section,
.location-section {
    padding-top: 150px;
}

/* Ingredients section styles */

.ingredients_section__wrapper {
    text-align: center;
    position: relative;
    opacity: 0;
}

.ingredients-section__title,
.about-section__title,
.menu-section__title,
.location-section__title {
    font-size: 64px;
    line-height: 95px;
    font-weight: 900;
    color: #2A2A2A;
}

.ingredients-section__caption,
.about-section__caption {
    font-size: 24px;
    line-height: 35px;
    color: #2A2A2A;
    font-weight: 700;

}

.ingredients-section__caption {
    padding-top: 20px;
    width: 55%;
    margin: 0 auto;
}

.ingredients-section__slider {
    display: flex;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 1312px;
}

.ingredients-section__slider-wrapper {
    position: relative;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.ingredients-section__slider-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    top: 17%;
    right: 0;
    height: 242px;
    width: 180px;
    background: transparent linear-gradient(270deg, #FFFFFF 0%, #FFFFFF00 100%)
}

.slider__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    width: 229px;
    height: 242px;
    padding: 20px 0px;
    margin-right: 50px;
}

.slider__item:last-child {
    margin-right: 0px;
}

.slider__item img {
    display: block;
    margin: 0 auto;
}

.slider-item__desc {
    font-size: 18px;
    color: #2A2A2A;
    line-height: 27px;
    font-weight: 700;
}

.ingredients-section__description,
.about-section__description {
    font-size: 18px;
    line-height: 27px;
    color: #2A2A2A;
}

.ingredients-section__description {
    padding-top: 50px;
    width: 65%;
    margin: 0 auto;
}

/* About section styles */

.about-section__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
}


.about-section__left,
.about-section__right {
    flex-basis: 49%;
}

.about-section__title {
    margin-bottom: 20px;
}

.about-section__caption {
    margin-bottom: 50px;
}

/* Menu section */

.menu-section__wrapper {
    opacity: 0;
}

.menu-section__title {
    text-align: center;
}

.menu-section__meals-wrapper {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.menu-section__meal-item {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 26px;
    padding: 20px;
    min-height: 410px;
    width: 408px;
}

.meal-item__description {
    font-size: 24px;
    color: #2A2A2A;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
}

.meal-item__img-wrapper {
    text-align: center;
    margin-top: 60px;
}

.meal-item__ingredients-wrapper {
    margin-top: 50px;
}

.ingredients-item__heading,
.ingredienst-item__currentIngredient {
    font-size: 14px;
    line-height: 21px;
    color: #2A2A2A;
}

.ingredients-item__heading {
    font-weight: 700;
}

.meal-item__details {
    font-size: 18px;
    line-height: 27px;
    color: #008BF6;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
}

.meal-item__details:hover {
    color: #0098F7;
}

.menu-section__button {
    background-color: #00B3FA;
    width: 161px;
    margin: 0 auto;
    transition: background-color 0.3s ease-out;
}

.menu-section__button:hover {
    background-color: #0098f7;
}

/* Location section styles */

.location__wrapper {
    opacity: 0;
}

.location-section__title {
    text-align: center;
}

.location-section__map {
    max-width: 860px;
    margin: 0 auto;
}

.location-section__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 30px 0px;
}

.location-section__info-wrapper p {
    font-size: 24px;
    line-height: 35px;
    color: #2A2A2A;
}

.location-section__info-wrapper p:first-child {
    font-weight: 700;
}

.location-section__map__logo-wrapper {
    position: relative;
}


.logo-wrapper__icon {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper__icon img {
    display: block;
}

/* Footer styles */

footer {
    margin-top: 150px;
    background-color: #F5F5F5;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 29px 0px;
}

.footer__description {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__description p {
    font-size: 14px;
}

.footer__description p:first-child {
    font-weight: 700;
}

@keyframes showUp {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Media queries */

@media screen and (max-width: 1440px) {
    .header__nav {
        padding-left: 65px;
    }

    .navigation__item:not(:last-child) {
        margin-right: 35px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 98%;
    }

    .navigation__item a {
        font-size: 16px;
    }

    .hero-section__about {
        margin-top: 100px;
    }

    .ingredients-section__title,
    .about-section__title,
    .menu-section__title,
    .location-section__title {
        font-size: clamp(32px, 5vw, 64px);
        line-height: clamp(80px, 5vw, 95px);
    }

    .about-section__wrapper {
        flex-direction: column;
        width: 60%;
        margin: 0 auto;
    }

    .about-section__right {
        text-align: center;
        margin-top: 45px;
    }

}

@media screen and (max-width: 1000px) {

    .header__nav-btn,
    .header__nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .ingredients-section,
    .about-section,
    .menu-section,
    .location-section {
        padding-top: 120px;
    }

    .hero-section__title {
        line-height: 60px;
    }

    .hero-section__caption {
        font-size: 20px;
        line-height: 30px;
        margin: 15px 0px;
    }

    .hero-section__btn {
        font-size: 15px;
        width: 250px;
    }

    .hero-logo {
        flex-basis: 45%;
    }

    .ingredients-section__caption,
    .about-section__caption {
        font-size: 20px;
    }

    .menu-section__meals-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .menu-section__meal-item {
        margin-top: 35px;
    }

    .location-section__info-wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .burger-dropdown.open {
        height: 350px;
    }
}

/* Exrta classes */

.scrollAnimation {
    animation: showUp 0.5s 0.3s forwards;
}

.d-none {
    display: none;
}